<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0
                      https://maven.apache.org/xsd/settings-1.2.0.xsd">
  <servers>
    <server>
      <id>deegree-snapshots</id>
      <username>${repo.username}</username>
      <password>${repo.password}</password>
    </server>
    <server>
      <id>deegree-releases</id>
      <username>${repo.username}</username>
      <password>${repo.password}</password>
    </server>
  </servers>

  <mirrors>
    <mirror>
      <id>jaspersoft-third-party-mirror</id>
      <mirrorOf>jaspersoft-third-party</mirrorOf>
      <url>http://jaspersoft.jfrog.io/jaspersoft/third-party-ce-artifacts/</url>
      <blocked>false</blocked>
    </mirror>
    <mirror>
      <id>terracotta-releases</id>
      <mirrorOf>terracotta-releases</mirrorOf>
      <url>http://www.terracotta.org/download/reflector/releases/</url>
      <blocked>false</blocked>
    </mirror>
  </mirrors>

</settings>
