/* Header */

.navbar {
   background-color: #f8f9fa;
}

/* Logo */

.navbar-brand {
    display:none;
/*
  background: url("https://localhost:8080/logo.png") center / contain no-repeat;
  width: 110px;
  height: 110px;
*/
}

/* Breadcrump */
nav .breadcrumb-item.active {
  color: #6c757d;
}

nav .breadcrumb-item a:link {
  color: #007bff;
}

nav .breadcrumb-item a:visited {
  color: #007bff;
}

nav .breadcrumb-item a:hover {
  color: #0056b3;
  text-decoration: underline;
}

nav .breadcrumb-item a:active {
}

/* Formats */
nav .nav-link.disabled:link {
  color: #6c757d;
}
nav .nav-link:link {
  color: #007bff;
}
nav .nav-link:visited {
  color: #007bff;
}
nav .nav-link:hover {
  color: #0056b3;
  text-decoration: underline;
}
nav .nav-link:active {
}

/* Table with data */
.propertylist {
  list-style-type:none;
  padding-left: 0;
}

/* Footer */
html {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

.page-footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #f8f9fa;
  text-align: right;
  color: #007bff;
}

/* Link Legal Notice */
.legalNotice:link {
  color: #007bff;
}
.legalNotice:visited {
  color: #007bff;
}
.legalNotice:hover {
  color: #0056b3;
  text-decoration: underline;
}
.legalNotice:active {
}

/* Link Privacy */
.privacy:link {
  color: #007bff;
}
.privacy:visited {
  color: #007bff;
}
.privacy:hover {
  color: #0056b3;
  text-decoration: underline;
}
.privacy:active {
}