<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>deegree - OGC API Features 1.0 - Conformance Classes</title>

    <style>
      [v-cloak] {
        display: none;
      }
    </style>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script>
        function loadCss(relativePath){
            var url = asAbsoluteUrl(relativePath);

            var link = document.createElement("link");
            link.setAttribute("rel", "stylesheet");
            link.setAttribute("type", "text/css");
            link.setAttribute("href", url);

            document.getElementsByTagName("head")[0].appendChild( link );
        }

        function asAbsoluteUrl(relativePath ) {
            var url = window.location.href;
            if( !url.endsWith("/") )
              url = url + "/";

            url = url + relativePath;
            return url;
        }
        loadCss( "../css/main.css" );
    </script>
</head>
<body>

<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"></a>
            <ul class="nav" id ="breadcrump">
                <li class="breadcrumb-item">
                    <a v-bind:href="datasetsLink">Datasets</a>
                </li>
                <li class="breadcrumb-item">
                    <a v-bind:href="datasetLink">{{ datasetName }}</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Conformance Classes</li>
            </ul>
            <ul class="nav justify-content-end">
              <li class="nav-item">
                  <a class="nav-link" href="?f=json" target="_blank">JSON</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="?f=xml" target="_blank">XML</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link disabled" href="?f=html" tabindex="-1" aria-disabled="true" target="_blank">HTML</a>
              </li>
            </ul>
        </div>
    </nav>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-12" id="content">
            <h1 class="mt-5">Conformance Classes</h1>
            <div class="row">
                <div class="col-md-12">
                    <ul class="list-group">
                        <li v-cloak v-for="conformto in conformsto" class="list-group-item">
                            {{ conformto }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="page-footer" id="footer">
    <div v-if="impressumUrl && impressumUrl.length > 0" >
        <a v-cloak v-bind:href="impressumUrl"  target="_blank" class="impressum"> Impressum</a>
    </div>
    <div v-else >
        <a href="https://deegree-enterprise.de"  target="_blank" class="impressum"> deegree Enterprise Edition</a>
    </div>
</footer>

<script>
var App = new Vue({
  el: '#content',
  data: {
    conformsto: ''
  },

  created() {
    this.fetchData().catch(error => {
      console.error(error)
    })
  },
  methods: {
    async fetchData() {
      var baseUrl = retrieveBaseUrl();
      const response = await fetch( baseUrl, {headers: {'Accept': 'application/json' } } );
      const json = await response.json();

      this.conformsto = json.conformsTo;
    }
  }
})

var AppBreadcrump = new Vue({
  el: '#breadcrump',
  data: {
    landingPageLink: '',
    datasetLink: '',
    datasetName: '',
    datasetsLink: ''
  },

  created() {
    var self = this;
    var thisLink = window.location.href.endsWith("/") ? window.location.href.substring(0, window.location.href.length -1) : window.location.href;
    self.datasetLink = thisLink.substring(0, thisLink.lastIndexOf("/"));
    self.datasetName = self.datasetLink.substring(self.datasetLink.lastIndexOf("/") + 1);
    self.datasetsLink = self.datasetLink.substring(0, self.datasetLink.lastIndexOf("/"));
  }
})

var footerApp = new Vue({
  el: '#footer',
  data: {
    impressumUrl: ''
  },

  created() {
    // create a closure to access component in the callback below
    var self = this;

    $.ajax({
      dataType: "json",
      url: createImpressumUrl(),
      success: function(data) {
        self.impressumUrl = data.impressumUrl;
      }
    });
  }
})

function createImpressumUrl(){
  var baseUrl = window.location.href;
  var indexIncludeDataset = (baseUrl.lastIndexOf("dataset") + 9)
  var indexOfDatasetId = baseUrl.substring(indexIncludeDataset, baseUrl.length ).indexOf( "/" ) + indexIncludeDataset;
  var configUrl = baseUrl.substring ( 0, indexOfDatasetId ) + "/config/impressum";
  return configUrl;
}

function retrieveBaseUrl() {
      var featuresRefWithoutQuery = window.location.href;
      if ( featuresRefWithoutQuery.indexOf('?') >= 0 ) {
        featuresRefWithoutQuery = featuresRefWithoutQuery.substr(0, featuresRefWithoutQuery.indexOf('?'));
      }
      if ( featuresRefWithoutQuery.endsWith("/") ) {
        featuresRefWithoutQuery = featuresRefWithoutQuery.substr(0, featuresRefWithoutQuery.length - 1);
      }
      return featuresRefWithoutQuery;
}
</script>
</body>
</html>