<!doctype html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../../../webjars/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-vue@2.5.0/dist/bootstrap-vue.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.1.1/css/ol.css" type="text/css">
    <link rel="stylesheet" href="../../css/main.css" >

    <title>deegree - OGC API Features 1.0 - Features</title>

    <style>
      [v-cloak] {
        display: none;
      }
      .table-borderless td,
      .table-borderless th {
        border: 0;
      }
      .hidden_header {
        display: none;
      }
      .map {
        height: 480px;
        width: 540px;
      }
      .filter-button {
        margin: 1%;
      }
      .filter-form-select {
        margin: 1%;
      }
      .filter-input {
        margin: 1%;
      }
      .filter-header {
        margin: 1%;
      }
      .filter-form-input {
        margin: 1%;
      }
      .filter-form-checkbox {
        margin: 1%;
      }
      #info {
        position: absolute;
        z-index: 100;
      }
      .tooltip-inner {
        max-width: 100%;
      }
      #popup-content {
        font-size: smaller;
      }
      .ol-popup {
        position: absolute;
        background-color: white;
        -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        padding: 15px;
        border-radius: 10px;
        border: 1px solid #cccccc;
        bottom: 12px;
        left: -50px;
        min-width: 280px;
      }
      .ol-popup:after, .ol-popup:before {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      .ol-popup:after {
        border-top-color: white;
        border-width: 10px;
        left: 48px;
        margin-left: -10px;
      }
      .ol-popup:before {
        border-top-color: #cccccc;
        border-width: 11px;
        left: 48px;
        margin-left: -11px;
      }
      .ol-popup-closer {
        text-decoration: none;
        position: absolute;
        top: 2px;
        right: 8px;
      }
      .ol-popup-closer:after {
        content: "✖";
      }
    </style>
</head>
<body>

<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"></a>
            <ul class="nav" id="breadcrump">
                <li class="breadcrumb-item">
                    <a v-bind:href="datasetsLink">Datasets</a>
                </li>
                <li class="breadcrumb-item">
                    <a v-cloak v-bind:href="datasetLink">{{ datasetName }}</a>
                </li>
                <li class="breadcrumb-item">
                    <a v-bind:href="landingPageLink">Landing Page</a>
                </li>
                <li class="breadcrumb-item">
                    <a v-bind:href="collectionsLink">Collections</a>
                </li>
                <li class="breadcrumb-item">
                    <a v-cloak v-bind:href="collectionLink">{{ collectionId }}</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Features</li>
            </ul>
            <ul class="nav justify-content-end">
              <li class="nav-item">
                  <a class="nav-link" href="?f=json" target="_blank">GeoJSON</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="?f=xml" target="_blank">GML</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link disabled" href="?f=html" tabindex="-1" aria-disabled="true" target="_blank">HTML</a>
              </li>
            </ul>
        </div>
    </nav>
</header>

<div class="container" >
    <div class="row" id="collection">
        <div class="col">
            <h1 v-cloak class="mt-5">{{ title }}</h1>
            <div v-cloak>{{ description }}</div>
        </div>
    </div>
    <hr/>
    <div class="row justify-content-between" id="content">
        <div class="col-md" id="app">
            <!--
            <div class="row">
                <div class="col">
                    <b-button class="filter-button" v-on:click="isFilterHidden = !isFilterHidden" variant="primary">Filter
                    </b-button>
                </div>
            </div>
            <div v-if="!isFilterHidden">
                <div class="row">
                    <div class="col">
                        <h4 class="filter-header">Property Filter</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <b-form-select class="filter-form-select" v-model="propertyFilterSelection"
                                       :options="propertyFilterOptions"></b-form-select>
                    </div>
                    <div class="col">
                        <input class="form-control filter-input" type="text" v-model="propertyFilterQuery"
                               placeholder="Value"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <b-button class="filter-button" v-on:click="filterProperty" variant="outline-primary">Apply
                            Property Filter
                        </b-button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h4 class="filter-header">Bounding Box Filter</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input class="form-control filter-input" type="text" v-model="bboxYLLFilterValue"/>
                    </div>
                    <div class="col">
                        <input class="form-control filter-input" type="text" v-model="bboxXLLFilterValue"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input class="form-control filter-input" type="text" v-model="bboxYURFilterValue"/>
                    </div>
                    <div class="col">
                        <input class="form-control filter-input" type="text" v-model="bboxXURFilterValue"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <b-button class="filter-button" v-on:click="filterBbox" variant="outline-primary">Apply
                            Bounding Box Filter
                        </b-button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h4 class="filter-header">Date/Time Filter</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h5 class="filter-header">Instant/Start Period</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <b-form-input class="filter-form-input" type="date" v-model="filterDateStartValue" :disabled="filterOpenStartChecked"></b-form-input>
                    </div>
                    <div class="col">
                        <b-form-input class="filter-form-input" type="time" v-model="filterTimeStartValue" :disabled="filterOpenStartChecked"></b-form-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <b-form-checkbox class="filter-form-checkbox" v-model="filterOpenStartChecked" :value="true" :unchecked-value="false">Open Start</b-form-checkbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h5 class="filter-header">End Period</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <b-form-input class="filter-form-input" type="date" v-model="filterDateEndValue" :disabled="filterOpenEndChecked"></b-form-input>
                    </div>
                    <div class="col">
                        <b-form-input class="filter-form-input" type="time" v-model="filterTimeEndValue" :disabled="filterOpenEndChecked"></b-form-input>
                    </div>
                </div>
                <div class="row">
                  <div class="col">
                      <b-form-checkbox class="filter-form-checkbox" v-model="filterOpenEndChecked" :value="true" :unchecked-value="false">Open End</b-form-checkbox>
                  </div>
                </div>
                <div class="row">
                    <div class="col">
                        <b-button class="filter-button" v-on:click="filterDateTime" variant="outline-primary">Apply
                            Date/Time Filter
                        </b-button>
                    </div>
                </div>
            </div>
            -->
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <b-pagination size="md" :total-rows="totalItems" v-model="currentPage"
                                  :per-page="perPage"></b-pagination>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <b-table class="table-borderless"
                             thead-class="hidden_header"
                             small :items="items" :fields="fields" :current-page="currentPage" :per-page="perPage">
                        <template v-slot:cell()="data">
                            <b-card>
                                <template v-slot:header>
                                    <b-link v-cloak :href="data.item.link">{{ data.value }}</b-link>
                                </template>
                                <b-card-text>
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th scope="col">Attribute</th>
                                            <th scope="col">Value</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="(property, attribute) in data.item.properties">
                                            <td v-cloak>{{ attribute }}</td>
                                            <td v-cloak v-if="(typeof property) == 'string' && property.startsWith('http')" >
                                                <a v-bind:href="property" target="_blank">{{ property }}</a>
                                            </td>
                                            <td v-cloak v-else >{{ property }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </b-card-text>
                            </b-card>
                        </template>
                    </b-table>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <b-pagination size="md" :total-rows="totalItems" v-model="currentPage"
                                  :per-page="perPage"></b-pagination>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div id="map" class="map">
                <div id="info"></div>
                <!--
                <div id="popup" class="ol-popup">
                    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
                    <div id="popup-content"></div>
                </div>
                -->
            </div>
        </div>

    </div>
</div>

<footer class="page-footer" id="footer">
    <div v-if="impressumUrl && impressumUrl.length > 0" >
        <a v-cloak v-bind:href="impressumUrl"  target="_blank" class="impressum"> Impressum</a>
    </div>
    <div v-else >
        <a href="https://deegree-enterprise.de"  target="_blank" class="impressum"> deegree Enterprise Edition</a>
    </div>
</footer>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../../../../webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="../../../../webjars/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="../../../../webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="../../../../webjars/vue/2.6.11/vue.min.js"></script>
<script src="https://unpkg.com/bootstrap-vue@2.5.0/dist/bootstrap-vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.1.1/build/ol.js"></script>
</script><script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.6.1/proj4.js" ></script>
<script>
removeTrailingSlash();

new Vue({
  el: '#app',
  data() {
    return {
      fields: [{
            key: 'id',
            label: 'Feature'
          }],
      items: [],
      currentPage: 0,
      perPage: 10,
      totalItems: 0,
      isFilterHidden: true,
      propertyFilterQuery: null,
      propertyFilterSelection: null,
      propertyFilterOptions: [
        { value: null, text: 'Please select a property to filter' },
        { value: 'id', text: 'ID' }
      ],
      bboxYLLFilterValue: '',
      bboxXLLFilterValue: '',
      bboxYURFilterValue: '',
      bboxXURFilterValue: '',
      filterDateStartValue: '',
      filterTimeStartValue: '',
      filterDateEndValue: '',
      filterTimeEndValue: '',
      filterOpenStartChecked: false,
      filterOpenEndChecked: false
    }
  },
  /*
  created() {
    this.calculateBboxFilterValues(),
    this.calculateDatetimeFilterValues()
  },
  */
  methods: {
    async fetchData() {
      var baseUrl = retrieveBaseUrl();
      var featuresUrl = createFeaturesUrl(baseUrl, this.perPage, this.currentPage);
      const response = await fetch( featuresUrl, {headers: {'Accept': 'application/geo+json' } } );
      const json = await response.json();

      this.items = [];
      json.features.forEach(feature => {
        this.items.push({
            id: feature.id,
            link: baseUrl+ '/' + feature.id,
            properties: feature.properties,
            _showDetails: true
          });
      });
      this.totalItems = json.numberMatched;
      //this.perPage = json.numberReturned;
      fetchConfigAndSetFeatures(json);
    },
    filterProperty: function( event ) {
      if ( this.propertyFilterSelection == null ){
        alert( 'Please select a property to filter' );
      } else if ( this.propertyFilterSelection == 'id' ) {
        var thisLink = window.location.href.endsWith("/") ? window.location.href.substring(0, window.location.href.length -1) : window.location.href;
        window.location.href = thisLink.concat("/").concat(this.propertyFilterQuery);
      }
    },
    filterBbox: function( event ) {
      var thisLink = window.location.href.endsWith("/") ? window.location.href.substring(0, window.location.href.length -1) : window.location.href;
      var thisLinkNoParams = thisLink.substring(0, thisLink.indexOf('?'));
      var params = new URLSearchParams(window.location.search);
      params.delete('bbox');
      if ( this.bboxYLLFilterValue == '' || this.bboxXLLFilterValue == '' || this.bboxYURFilterValue == '' || this.bboxXURFilterValue == '' ){
        if ( params.toString().length == 0 ){
          window.location.href = thisLinkNoParams;
        } else {
          window.location.href = thisLinkNoParams.concat("?").concat(params.toString());
        }
      } else {
        window.location.href = thisLinkNoParams.concat("?").concat(params.toString()).concat("&bbox=").concat(this.bboxYLLFilterValue).concat(",").concat(this.bboxXLLFilterValue).concat(",").concat(this.bboxYURFilterValue).concat(",").concat(this.bboxXURFilterValue);
      }
    },
    calculateBboxFilterValues: function() {
      var bboxParam = new URLSearchParams(window.location.search).get('bbox');
      if ( bboxParam != null ){
        var splitBbox = bboxParam.split(',');
        this.bboxYLLFilterValue = splitBbox[0];
        this.bboxXLLFilterValue = splitBbox[1];
        this.bboxYURFilterValue = splitBbox[2];
        this.bboxXURFilterValue = splitBbox[3];
      }
    },
    filterDateTime: function(){
      var thisLink = window.location.href.endsWith("/") ? window.location.href.substring(0, window.location.href.length -1) : window.location.href;
      var thisLinkNoParams = thisLink.substring(0, thisLink.indexOf('?'));
      var params = new URLSearchParams(window.location.search);
      params.delete('datetime');
      if ( ( this.filterDateStartValue == '' && this.filterOpenStartChecked == false ) || ( this.filterDateEndValue == '' && this.filterOpenStartChecked == true ) || ( this.filterOpenStartChecked == true && this.filterOpenEndChecked == true ) ){
        if ( params.toString().length == 0 ){
          window.location.href = thisLinkNoParams;
        } else {
          window.location.href = thisLinkNoParams.concat("?").concat(params.toString());
        }
      } else if ( this.filterDateEndValue == '' && this.filterOpenEndChecked == false ) {
        if ( this.filterTimeStartValue.length == 5 ){
          window.location.href = thisLinkNoParams.concat("?").concat(params.toString()).concat("&datetime=").concat(this.filterDateStartValue).concat("T").concat(this.filterTimeStartValue).concat(":00");
        } else {
          window.location.href = thisLinkNoParams.concat("?").concat(params.toString()).concat("&datetime=").concat(this.filterDateStartValue);
        }
      } else {
        if ( this.filterOpenStartChecked == true ) {
          if ( this.filterTimeEndValue.length == 5 ){
            window.location.href = thisLinkNoParams.concat("?").concat(params.toString()).concat("&datetime=").concat("/").concat(this.filterDateEndValue).concat("T").concat(this.filterTimeEndValue).concat(":00");
          } else {
            window.location.href = thisLinkNoParams.concat("?").concat(params.toString()).concat("&datetime=").concat("/").concat(this.filterDateEndValue);
          }
        } else if ( this.filterOpenEndChecked == true ) {
          if ( this.filterTimeStartValue.length == 5 ){
            window.location.href = thisLinkNoParams.concat("?").concat(params.toString()).concat("&datetime=").concat(this.filterDateStartValue).concat("T").concat(this.filterTimeStartValue).concat(":00").concat("/");
          } else {
            window.location.href = thisLinkNoParams.concat("?").concat(params.toString()).concat("&datetime=").concat(this.filterDateStartValue).concat("/");
          }
        } else {
          if ( this.filterTimeStartValue.length == 5 ){
            if ( this.filterTimeEndValue.length == 5 ){
              window.location.href = thisLinkNoParams.concat("?").concat(params.toString()).concat("&datetime=").concat(this.filterDateStartValue).concat("T").concat(this.filterTimeStartValue).concat(":00").concat("/").concat(this.filterDateEndValue).concat("T").concat(this.filterTimeEndValue).concat(":00");
            } else {
              window.location.href = thisLinkNoParams.concat("?").concat(params.toString()).concat("&datetime=").concat(this.filterDateStartValue).concat("T").concat(this.filterTimeStartValue).concat(":00").concat("/").concat(this.filterDateEndValue);
            }
          } else {
            if ( this.filterTimeEndValue.length == 5 ){
              window.location.href = thisLinkNoParams.concat("?").concat(params.toString()).concat("&datetime=").concat(this.filterDateStartValue).concat("/").concat(this.filterDateEndValue).concat("T").concat(this.filterTimeEndValue).concat(":00");
            } else {
              window.location.href = thisLinkNoParams.concat("?").concat(params.toString()).concat("&datetime=").concat(this.filterDateStartValue).concat("/").concat(this.filterDateEndValue);
            }
          }
        }
      }
    },
    calculateDatetimeFilterValues: function() {
      var datetimeParam = new URLSearchParams(window.location.search).get('datetime');
      if ( datetimeParam != null ){
        if ( datetimeParam.startsWith("/") ) {
          this.filterOpenStartChecked = true;
        } else if ( datetimeParam.endsWith("/") ) {
          this.filterOpenEndChecked = true;
        }
        var splitDatetime = datetimeParam.split('/');
        var startDate = splitDatetime[0].split('T');
        this.filterDateStartValue = startDate[0];
        if ( startDate.length == 2 ){
          this.filterTimeStartValue = startDate[1].substring(0,5);
        }
        if ( splitDatetime.length == 2 ){
          var endDate = splitDatetime[1].split('T');
          this.filterDateEndValue = endDate[0];
          if ( endDate.length == 2 ){
            this.filterTimeEndValue = endDate[1].substring(0,5);
          }
        }
      }
    }
  },
  watch: {
    currentPage: {
      handler: function(value) {
        this.fetchData().catch(error => {
          console.error(error)
        })
      }
    }
  }
})

var AppCollection = new Vue({
  el: '#collection',
  data: {
    title: [],
    description: [],
    extent: []
  },

  created() {
    // create a closure to access component in the callback below
    var self = this;
    var thisLink = window.location.href.endsWith("/") ? window.location.href.substring(0, window.location.href.length -1) : window.location.href;
    var collectionLink = thisLink.substring(0, thisLink.lastIndexOf("/"));

    $.ajax({
      dataType: "json",
      //url: "http://localhost:8002/collections/strassenbaumkataster",
      url: collectionLink,
      success: function(data) {
        self.title = data.title;
        self.description = data.description;
        self.links = data.links;
        self.extent = data.extent;
      }
    });
  }

})

var AppBreadcrump = new Vue({
  el: '#breadcrump',
  data: {
    collectionId: [],
    featureId: [],
    landingPageLink: [],
    datasetLink: [],
    datasetName: [],
    datasetsLink: [],
    collectionsLink: [],
    collectionLink: []
  },

  created() {
    var self = this;
    var thisLink = window.location.href.endsWith("/") ? window.location.href.substring(0, window.location.href.length -1) : window.location.href;
    self.collectionLink = thisLink.substring(0, thisLink.lastIndexOf("/"));
    self.collectionsLink = self.collectionLink.substring(0, self.collectionLink.lastIndexOf("/"));
    self.landingPageLink = self.collectionsLink.substring(0, self.collectionsLink.lastIndexOf("/"));
    self.datasetLink = self.collectionsLink.substring(0, self.collectionsLink.lastIndexOf("/"));
    self.datasetName = self.datasetLink.substring(self.datasetLink.lastIndexOf("/") + 1);
    self.datasetsLink = self.datasetLink.substring(0, self.datasetLink.lastIndexOf("/"));

    $.ajax({
      dataType: "json",
      //url: "http://localhost:8002/collections/strassenbaumkataster",
      url: self.collectionLink,
      success: function(data) {
        self.collectionId = data.title;
      }
    });
  }
})

var footerApp = new Vue({
  el: '#footer',
  data: {
    impressumUrl: ''
  },

  created() {
    // create a closure to access component in the callback below
    var self = this;

    $.ajax({
      dataType: "json",
      url: createImpressumUrl(),
      success: function(data) {
        self.impressumUrl = data.impressumUrl;
      }
    });
  }
})

function removeTrailingSlash(){
  if( window.location.href.endsWith("items/") ){
    window.location.href = window.location.href.substring(0, window.location.href.length -1);
  }
}

function retrieveBaseUrl() {
      var featuresRefWithoutQuery = window.location.href;
      if ( featuresRefWithoutQuery.indexOf('?') >= 0 ) {
        featuresRefWithoutQuery = featuresRefWithoutQuery.substr(0, featuresRefWithoutQuery.indexOf('?'));
      }
      return featuresRefWithoutQuery;
}

function createFeaturesUrl( featuresRefWithoutQuery, perPage, currentPage) {
      var params = parseQueryString(window.location.search);

      if( params['offset']){
        params['offset'] = perPage;
      } else {
        params['offset'] = perPage * (currentPage -1);
      }

      if( !params['limit']){
        params['limit'] = perPage;
      }

      return createUrlWithQuery(featuresRefWithoutQuery, params);
}

function createUrlWithQuery(url, params) {
    url = url + '?';
    let key;
    for (key in params) {
       if( key != 'f' ) {
          url = url + key + '=' + params[key] + '&';
        }
    };
    return url;
}

function parseQueryString(queryString) {
	var params = [];

    if ( queryString.indexOf('?') >= 0 ) {
        queryString = queryString.substr(queryString.indexOf('?')+1, queryString.length);
    }

    if( queryString.length > 0 ){
        var kvps = queryString.split('&');
        kvps.forEach( kvp => {
            var keyValuePair = kvp.split('=');
            var key = keyValuePair[0].toLowerCase();
            var value = keyValuePair[1];
            value = decodeURIComponent(value);
            value = value.replace(/\+/g, ' ');
            params[key] = value;
        });
	}

	return params;
}
var styles = [
  new ol.style.Style({
    image: new ol.style.Circle({
      radius: 6,
      fill: new ol.style.Fill({
        color: 'rgba(0,0,255, 0.1)'
      }),
      stroke: new ol.style.Stroke({
        color: 'rgba(0,0,255, 1)',
        width: 2
      })
    }),
    stroke: new ol.style.Stroke({
      color: 'rgba(0,0,255, 1)',
      width: 3
    }),
    fill: new ol.style.Fill({
      color: 'rgba(0, 0, 255, 0.1)'
    })
  })
];

async function fetchConfigAndSetFeatures(featuresJson) {
  var configUrl = createMapConfigUrl();

  const response = await fetch( configUrl, {headers: {'Accept': 'application/json' } } );
  if( response.status == 200 ){
    const json = await response.json();
    setMapBackgroundAndFeatures(json.wmsUrl, json.wmsLayers, json.crsCode, json.crsProj4Definition, featuresJson);
  } else {
    setMapBackgroundAndFeatures('http://sg.geodatenzentrum.de/wms_dtk250', 'dtk250', null, null, featuresJson);
  }
}

function setMapBackgroundAndFeatures(wmsUrl, wmsLayers, crsCode, projDef, featuresJson){
    var crsCodeRegistered = registerCrs(crsCode, projDef);
    if( crsCodeRegistered ){
        var userConfig = ol.proj.get('EPSG:25832');
        map.setView(
            new ol.View({
                projection: userConfig
            })
        );
    }

    var wmsLayer = new ol.layer.Tile({
      source: new ol.source.TileWMS({
        url: wmsUrl,
        params: {'VERSION': '1.1.1', 'LAYERS': wmsLayers, 'TILED': true}
      })
    });
    map.getLayers().insertAt(0, wmsLayer);
    setFeatures(featuresJson);
}

function setFeatures(featuresJson){
  featureSource.clear();
  featureSource.addFeatures(featureSource.getFormat().readFeatures(featuresJson, {
                    "dataProjection" : "EPSG:4326",
                    "featureProjection" : "EPSG:25832"
             }));

  var extentGeom = ol.geom.Polygon.fromExtent(featureSource.getExtent())
  extentGeom.scale(1.2);
  map.getView().fit(extentGeom.getExtent(), {'maxZoom':20} );
}

var featureSource = new ol.source.Vector({
  format: new ol.format.GeoJSON(),
  strategy: ol.loadingstrategy.all
});

var featureLayer = new ol.layer.Vector({
  source: featureSource,
  style: styles
});

var map = new ol.Map({
  target: 'map',
  layers: [
    featureLayer
  ],
  view: new ol.View({
    projection: 'EPSG:4326',
    center: [10.0143, 53.5537],
    zoom: 14
  })
});

var info = $('#info');
info.tooltip({
  animation: false,
  trigger: 'manual'
});

var displayTooltip = function(pixel) {
  info.css({
    left: (pixel[0] + 15) + 'px',
    top: (pixel[1] - 15) + 'px'
  });
  var feature = map.forEachFeatureAtPixel(pixel, function(feature) {
    return feature;
  });
  if (feature) {
    info.tooltip('hide')
      .attr('data-original-title', feature.getId())
      .tooltip('show');
  } else {
    info.tooltip('hide');
  }
};

map.on('pointermove', function(evt) {
  if (evt.dragging) {
    info.tooltip('hide');
    return;
  }
  displayTooltip(evt.pixel);
});

/*
var container = document.getElementById('popup');
var content = document.getElementById('popup-content');
var closer = document.getElementById('popup-closer');

var overlay = new ol.Overlay({
  element: container,
  autoPan: true,
  autoPanAnimation: {
    duration: 250
  }
});
map.addOverlay(overlay);

closer.onclick = function() {
  overlay.setPosition(undefined);
  select.getFeatures().clear();
  closer.blur();
  return false;
};

var clickCoordinate;
map.on('singleclick', function(evt) {
  clickCoordinate = evt.coordinate;
});

var select = new ol.interaction.Select();
map.addInteraction(select);
select.on('select', function(e) {
  var feature = e.selected[0];
  var keys = feature.getKeys();
  var geometryName = feature.getGeometryName();
  var html = '<table>';
  for (i = 0; i < keys.length; i++){
    var key = keys[i];
    if (key != geometryName){
      html = html + '<tr><th>' + key + '</th><th>' + feature.get(key) + '</th></tr>';
    }
  }
  html = html + '</table>';
  content.innerHTML = '<div><h6>' + feature.getId() + '</h6></div><div>' + html + '</div>';
  overlay.setPosition(clickCoordinate);
});
*/

function createImpressumUrl(){
  return createConfigUrl("/config/impressum");
}

function createMapConfigUrl(){
  return createConfigUrl("/config/map");
}

function createConfigUrl(path){
  var baseUrl = window.location.href;
  var indexIncludeDataset = (baseUrl.lastIndexOf("dataset") + 9)
  var indexOfDatasetId = baseUrl.substring(indexIncludeDataset, baseUrl.length ).indexOf( "/" ) + indexIncludeDataset;
  var configUrl = baseUrl.substring ( 0, indexOfDatasetId ) + path;
  return configUrl;
}

function registerCrs(crsCode, projDef){
   if( crsCode != null &&  projDef != null ) {
       proj4.defs('EPSG:25832', '+proj=utm +zone=32 +ellps=GRS80 +towgs84=0,0,0,0,0,0,0 +units=m +no_defs');
       ol.proj.proj4.register(proj4);
       return true;
   }
   return false;
}
</script>
</body>
</html>