<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../webjars/bootstrap/4.4.1/css/bootstrap.min.css" >
    <link rel="stylesheet" href="css/main.css" >

    <title>deegree - OGC API Features 1.0 - Landing Page</title>

    <style>
      [v-cloak] {
        display: none;
      }
    </style>
</head>
<body>

<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"></a>
            <ul class="nav" id="breadcrump">
                <li class="breadcrumb-item">
                    <a v-bind:href="datasetsLink">Datasets</a>
                </li>
                <li class="breadcrumb-item">
                    <a v-cloak v-bind:href="datasetLink">{{ datasetName }}</a>
                </li>
            </ul>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="?f=json" target="_blank">JSON</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="?f=xml" target="_blank">XML</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="?f=html" tabindex="-1" aria-disabled="true" target="_blank">HTML</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-12" id="content">
            <h1 v-cloak class="mt-5">{{ title }}</h1>
            <p v-cloak class="lead">{{ description }}</p>
            <div class="row">
                <div class="col-sm-3">Collections</div>
                <div class="col-md-9">
                    <a v-cloak v-bind:href="collectionlink.href" >{{ collectionlink.title }}</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">API Definition</div>
                <div class="col-md-9">
                    <a v-cloak v-bind:href="apilink.href" >{{ apilink.title }}</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">Conformance Classes</div>
                <div class="col-md-9">
                    <a v-cloak v-bind:href="conformanceLink.href" >{{ conformanceLink.title }}</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">Metadata</div>
                <div class="col-md-9">
                    <a v-cloak v-bind:href="metadataLink.href" >{{ metadataLink.title }}</a>
                </div>
            </div>
            <div class="row" v-if="contact && contact.name">
                <div class="col-sm-3">Contact</div>
                <div class="col-md-9">
                    <a v-cloak v-bind:href="contact.url" >{{ contact.name }}</a> (<a v-cloak v-bind:href="'mailto:' + contact.email" >E-Mail</a>)
                </div>
            </div>
            <div class="row" v-if="licenseLink">
                <div class="col-sm-3">License</div>
                <div class="col-md-9">
                    <a v-cloak v-bind:href="licenseLink.href" >{{ licenseLink.title }}</a>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="page-footer" id="footer">
    <div v-if="impressumUrl && impressumUrl.length > 0" >
        <a v-cloak v-bind:href="impressumUrl"  target="_blank" class="impressum"> Impressum</a>
    </div>
    <div v-else >
        <a href="https://deegree-enterprise.de"  target="_blank" class="impressum"> deegree Enterprise Edition</a>
    </div>
</footer>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../../webjars/jquery/3.4.1/jquery.min.js" ></script>
<script src="../../webjars/popper.js/1.16.0/umd/popper.min.js" ></script>
<script src="../../webjars/bootstrap/4.4.1/js/bootstrap.min.js" ></script>
<script src="../../webjars/vue/2.6.11/vue.js" ></script>
<script>
addTrailingSlash();

var App = new Vue({
  el: '#content',
  data: {
    title: [],
    description: [],
    apilink: [],
    collectionlink: [],
    conformanceLink: [],
    metadataLink: [],
    licenseLink: [],
    contact: []
  },

  created() {
    this.fetchData().catch(error => {
      console.error(error)
    })
  },
  methods: {
    async fetchData() {
      var baseUrl = retrieveBaseUrl();
      const response = await fetch( baseUrl, {headers: {'Accept': 'application/json' } } );
      const json = await response.json();

      this.title = json.title;
      this.description = json.description;
      this.apilink = firstByRel(json, 'service-desc');
      this.collectionlink = firstByRel(json, 'data');
      this.conformanceLink = firstByRel(json, 'conformance');
      this.metadataLink = firstByRel(json, 'describedBy');
      this.licenseLink = firstByRel(json, 'license');
      this.contact = json.contact;
    }
  }
})

var AppBreadcrump = new Vue({
  el: '#breadcrump',
  data: {
    datasetLink: [],
    datasetName: [],
    datasetsLink: []
  },

  created() {
    var self = this;
    var thisLink = window.location.href.endsWith("/") ? window.location.href.substring(0, window.location.href.length -1) : window.location.href;
    self.datasetsLink = thisLink.substring(0, thisLink.lastIndexOf("/"));
    self.datasetLink = thisLink;
    self.datasetName = self.datasetLink.substring(self.datasetLink.lastIndexOf("/") + 1);
  }
})

var footerApp = new Vue({
  el: '#footer',
  data: {
    impressumUrl: ''
  },

  created() {
    // create a closure to access component in the callback below
    var self = this;

    $.ajax({
      dataType: "json",
      url: createImpressumUrl(),
      success: function(data) {
        self.impressumUrl = data.impressumUrl;
      }
    });
  }
})

function firstByRel(data, rel){
  var links = $( data.links ).filter(
    function( n, i ) {
      return i.rel===rel && i.type==='text/html';
    });
    if ( links.length > 0 )
      return links[0];
}

function createImpressumUrl(){
  var baseUrl = window.location.href;
  var indexIncludeDataset = (baseUrl.lastIndexOf("dataset") + 9)
  var indexOfDatasetId = baseUrl.substring(indexIncludeDataset, baseUrl.length ).indexOf( "/" ) + indexIncludeDataset;
  var configUrl = baseUrl.substring ( 0, indexOfDatasetId ) + "/config/impressum";
  return configUrl;
}

function addTrailingSlash(){
  if( window.location.href.indexOf('?') < 0 && !window.location.href.endsWith("/") ){
    window.location.href = window.location.href + "/";
  }
}

function retrieveBaseUrl() {
  var featuresRefWithoutQuery = window.location.href;
  if ( featuresRefWithoutQuery.indexOf('?') >= 0 ) {
    featuresRefWithoutQuery = featuresRefWithoutQuery.substr(0, featuresRefWithoutQuery.indexOf('?'));
  }
  return featuresRefWithoutQuery;
}
</script>
</body>
</html>