<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <title>deegree - OGC API Features 1.0 - Landing Page</title>

    <style>
      [v-cloak] {
        display: none;
      }
    </style>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://unpkg.com/vue-meta/dist/vue-meta.min.js"></script>
    <script>
        function loadCss(relativePath){
            var url = asAbsoluteUrl(relativePath);

            var link = document.createElement("link");
            link.setAttribute("rel", "stylesheet");
            link.setAttribute("type", "text/css");
            link.setAttribute("href", url);

            document.getElementsByTagName("head")[0].appendChild( link );
        }

        function asAbsoluteUrl(relativePath ) {
            var url = window.location.href;
            if ( url.indexOf('?') >= 0 ) {
              url = url.substr(0, url.indexOf('?'));
            }
            if( !url.endsWith("/") )
              url = url + "/";

            url = url + relativePath;
            return url;
        }
        loadCss( "css/main.css" );
    </script>

</head>
<body>

<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"></a>
            <ul class="nav" id="breadcrump">
                <li class="breadcrumb-item">
                    <a v-bind:href="datasetsLink">Datasets</a>
                </li>
                <li class="breadcrumb-item">
                    <a v-cloak v-bind:href="datasetLink">{{ datasetName }}</a>
                </li>
            </ul>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="?f=json" target="_blank">JSON</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="?f=xml" target="_blank">XML</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="?f=html" tabindex="-1" aria-disabled="true" target="_blank">HTML</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-12" id="content">
            <h1 v-cloak class="mt-5">{{ title }}</h1>
            <p v-cloak class="lead" v-html="description"></p>
            <div class="row">
                <div class="col-sm-3">Collections</div>
                <div class="col-md-9">
                    <a v-cloak v-bind:href="collectionlink.href" >{{ collectionlink.title }}</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">API Definition</div>
                <div class="col-md-9">
                    <a v-cloak v-bind:href="apilink.href" >{{ apilink.title }}</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">Conformance Classes</div>
                <div class="col-md-9">
                    <a v-cloak v-bind:href="conformanceLink.href" >{{ conformanceLink.title }}</a>
                </div>
            </div>
            <div class="row" v-if="metadataLink">
                <div class="col-sm-3">Metadata</div>
                <div class="col-md-9">
                    <a v-cloak v-bind:href="metadataLink.href" >{{ metadataLink.title }}</a>
                </div>
            </div>
            <div class="row" v-if="contact && contact.name">
                <div class="col-sm-3">Contact</div>
                <div class="col-md-9">
                    <a v-cloak v-bind:href="contact.url" >{{ contact.name }}</a> (<a v-cloak v-bind:href="'mailto:' + contact.email" >E-Mail</a>)
                </div>
            </div>
            <div class="row" v-if="licenseLink">
                <div class="col-sm-3">License</div>
                <div class="col-md-9">
                    <a v-cloak v-bind:href="licenseLink.href" >{{ licenseLink.title }}</a>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="page-footer" id="footer">
    <div class="footer-brand-left"></div>
    <div class="d-flex row justify-content-between">
        <div class="px-md-5">
            <a v-cloak v-bind:href="helpUrl" target="_blank" class="help"> Help</a>
        </div>
        <div class="px-md-5">
            <span v-if="legalNoticeUrl && legalNoticeUrl.length > 0">
                <a v-cloak v-bind:href="legalNoticeUrl" target="_blank" class="legalNotice"> Legal Notice</a>
            </span>
            <span v-else>
                <a href="https://www.deegree.org" target="_blank" class="legalNotice"> deegree</a>
            </span>
            <span v-if="privacyUrl && privacyUrl.length > 0">
               <span> | </span>
               <a v-cloak v-bind:href="privacyUrl" target="_blank" class="privacy"> Privacy Policy</a>
            </span>
            <span class="footer-brand-right"></span>
        </div>
    </div>
</footer>

<script>
var App = new Vue({
  el: '#content',
  metaInfo() {
    const title = this.title
    return {
      title: title,
      titleTemplate: '%s',
    }
  },
  data: {
    title: '',
    description: '',
    apilink: '',
    collectionlink: '',
    conformanceLink: '',
    metadataLink: '',
    licenseLink: '',
    contact: ''
  },

  created() {
    this.fetchData().catch(error => {
      console.error(error)
    })
  },
  methods: {
    async fetchData() {
      var baseUrl = retrieveBaseUrl();
      const response = await fetch( baseUrl, {headers: {'Accept': 'application/json' } } );
      const json = await response.json();

      this.title = json.title;
      this.description = json.description;
      this.apilink = firstByRel(json, 'service-desc');
      this.collectionlink = firstByRel(json, 'data');
      this.conformanceLink = firstByRel(json, 'conformance');
      this.metadataLink = firstByRel(json, 'describedBy', true);
      this.licenseLink = firstByRel(json, 'license');
      this.contact = json.contact;
    }
  }
})

var AppBreadcrump = new Vue({
  el: '#breadcrump',
  data: {
    datasetLink: '',
    datasetName: '',
    datasetsLink: ''
  },

  created() {
    var self = this;
    var thisLink = window.location.href.endsWith("/") ? window.location.href.substring(0, window.location.href.length -1) : window.location.href;
    self.datasetsLink = thisLink.substring(0, thisLink.lastIndexOf("/"));
    self.datasetLink = thisLink;
    self.datasetName = self.datasetLink.substring(self.datasetLink.lastIndexOf("/") + 1);
  }
})

var footerApp = new Vue({
  el: '#footer',
  data: {
    helpUrl: createDocumentationUrl(),
    legalNoticeUrl: '',
    privacyUrl: ''
  },

  created() {
    // create a closure to access component in the callback below
    var self = this;

    $.ajax({
      dataType: "json",
      url: createHtmlConfigUrl(),
      success: function(data) {
        if ( data.documentationUrl ) {
          self.helpUrl = data.documentationUrl;
        }
        self.legalNoticeUrl = data.legalNoticeUrl;
        self.privacyUrl = data.privacyUrl;
      }
    });
  }
})

function firstByRel(data, rel, otherThanHtmlOrTest){
  var links = $( data.links ).filter(
    function( n, i ) {
      return i.rel===rel && (i.type==='text/html' || i.type==='text/plain');
    });
    if ( links.length > 0 )
      return links[0];
    else if (otherThanHtmlOrTest){
      var allRelLinks = $( data.links ).filter(
        function( n, i ) {
          return i.rel===rel;
        });
      if ( allRelLinks.length > 0 )
        return allRelLinks[0];
    }
}

function createHtmlConfigUrl(){
  return retrieveThisDatasetUrl() + "/config/html";
}

function createDocumentationUrl(){
  var baseUrl = retrieveThisDatasetUrl();
  var indexOfDataset = (baseUrl.lastIndexOf("dataset"))
  return baseUrl.substring ( 0, indexOfDataset ) + "documentation/index.html#_usage";
}

function retrieveThisDatasetUrl(){
  var baseUrl = retrieveBaseUrl();
  if( !baseUrl.endsWith('/') )
     baseUrl = baseUrl + "/";
  var indexIncludeDataset = (baseUrl.lastIndexOf("datasets") + 9)
  var indexOfDatasetId = baseUrl.substring(indexIncludeDataset, baseUrl.length ).indexOf( "/" ) + indexIncludeDataset;
  return baseUrl.substring ( 0, indexOfDatasetId );
}

function retrieveBaseUrl() {
  var featuresRefWithoutQuery = window.location.href;
  if ( featuresRefWithoutQuery.indexOf('?') >= 0 ) {
    featuresRefWithoutQuery = featuresRefWithoutQuery.substr(0, featuresRefWithoutQuery.indexOf('?'));
  }
  if ( featuresRefWithoutQuery.endsWith("/") ) {
    featuresRefWithoutQuery = featuresRefWithoutQuery.substr(0, featuresRefWithoutQuery.length - 1);
  }
  if ( featuresRefWithoutQuery.endsWith(".html") ) {
    featuresRefWithoutQuery = featuresRefWithoutQuery.substr(0, featuresRefWithoutQuery.length - 5);
  }
  return featuresRefWithoutQuery;
}
</script>
</body>
</html>